
%table.table
  %thead
    %tr
      - @table_headers.each do |table_header|
        %th{:scope => "col"}
          = table_header.humanize
  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.email
        %td= contact.name
        %td= contact.birth_date
        %td= contact.phone_number
        %td= contact.address
        %td= contact.franchise
        %td= "****#{contact.last_four_credt_card_numbers}"
        %td= contact.contact_file.name

-# .row.mb-1
  = link_to "Upload contact files", new_contact_file_path, method: :get

-# .row
  = will_paginate @contact_files, renderer: BootstrapPagination::Rails