- if @contact_files.blank?
  .row
    %p There are not contact files yet
- else
  %table.table
    %thead
      %tr
        - %w[name status original_headers created_at actions].each do |table_header|
          %th{:scope => "col"}
            = table_header.humanize
    %tbody
      - @contact_files.each do |contact_file|
        %tr
          %td= contact_file.name
          %td= contact_file.status.humanize
          %td= contact_file.original_headers.join(', ')
          %td= contact_file.created_at.to_formatted_s(:long)
          %td
            - if contact_file.on_hold?
              = link_to "Process csv", open_modal_contact_file_path(contact_file), method: :get, class: 'btn btn-primary', remote: true
            - else 
              = link_to "View contacts", contact_file_path(contact_file), method: :get, class: 'btn btn-primary'
              = link_to "View failed contacts", failed_contacts_contact_file_path(contact_file), method: :get, class: 'btn btn-primary'

.row.mb-1
  = link_to "Upload contact files", new_contact_file_path, method: :get

.row
  = raw pagy_bootstrap_nav(@pagy)